* {
    margin: 0px;
    color: white;
}

.section1 {
    background-color: #1F2937;
    height: 400px;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.subsection1 {
    display: flex;
    justify-content: space-between;
}

.header-links {
    font-size: 18px;
    color: #AFB2B9;
}

strong {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    width: 120px;
    height: 30px;
    border: 0px;
    border-radius: 8px;
}

.sub-left {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sub-right {
    background-color: #6D747D;
    width: 450px;
    text-align: center;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.section2 {
    margin-top: 30px;
}
.title2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.content2 {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 30px;
    height: 300px;
}

.square {
    border: 2px solid #3882F6;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
}

.item {
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-des {
    color: black;
    text-align: center;
}